/************************************************
*
* Author: kmolb 
* Date 24.08.2018
*
*************************************************/
/*targetings elements / TAGS */

#main-content p{
    color: red;

}
p{
    color: black;
}

.test{
    color: green;
}

strong{
    color: green;
}
